
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Ukulele Krakow Jam</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .highlight {background-color: lemonchiffon; font-weight: bold;}
        .chord { font-weight: bold; color:red}
    </style>

</head>
<body>

<div class="container mt-2 mb-5">

    <p>
        <a href="index.html"><- Back to the List</a>
    </p>

    <h3 class="song-title">
        #{{ song.number }} {{ song.title }}
    </h3>
    
    <h5 class="song-artist">
        {{ song.artist }}
    </h5>

    <span class="{{ song.level_class }}">
        <small>Level: {{ song.level }}</small>
    </span>
    
    {{ if song.spotify }}
    <div class="mt-3">
        
        <iframe src="https://open.spotify.com/embed/track/{{ song.spotify }}" 
                width="300" 
                height="80" 
                frameborder="0" 
                allowtransparency="true" 
                allow="encrypted-media"></iframe>
       
    </div>
    {{ end }}
    {{ if song.youtube }}
    <div class="mt-3">
        
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            width="267" height="150" type="text/html" 
            src="https://www.youtube.com/embed/{{ song.youtube }}?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&vq=small">
        </iframe>

    </div>
    {{ end }}

    <div class="mt-4">
        {{ for chord in song.chords }}
        <img src="/chords/{{chord}}.gif" />
        {{ end }}
    </div>
    
    {{ song.tab }}
    
    <div class="mb-5 mt-5">
        <a href="index.html"><- Back to the List</a>
    </div>

</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56632357-3', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
